<footer class="footer">
    <div class="content has-text-centered">
        <p>
        Check out the <strong><a href="https://github.com/willsbit/rust_clipstash">repository</a></strong>
        </p>
    </div>
</footer>